{% extends 'userbase.html.twig' %}
{% block body %}
{% if app.user %}
  {% include('profile/usermenu.html.twig') %}

  <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main class="content-wrapper">
      <!-- start -->
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-9">
                    <section class="purchase__card_section">
                      <p class="text-red font-weight-bold"><span class="badge bg-danger mr-1">{{ display|length }}</span> Joining Users</p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <!--end-->

            <!--start table-->
           <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card table-responsive" style="overflow-x:auto;">
                <div class="card text-primary font-weight-bold" style="overflow-x:auto;">
                 <div class="card-body">
                    <table id="zero_config" class="table table-striped" style="width:100%">
                      <thead >
                        <tr >
                          <th>#</th>
                          <th class="text-left">Name</th>
                          <th class="text-left" >Username</th>
                          <th class="text-left">Email</th>
                           <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for temp,show in display %}
                            <tr>
                              <td>{{ temp +1 }}</td>
                              <td class="text-left">{{ show.firstname }}</td>
                              <td class="text-left">{{ show.username }}</td>
                              <td class="text-left">{{ show.email}}</td>
                              <td>
                               <a href="{{ path('removeuser', { 'user' : show.username }) }}" class="col btn btn-md btn-danger text-lowercase mb-0" data-mdc-auto-init="MDCRipple">Remove User</a>
                             </td>
                            </tr>
                       {% endfor %}
                        </tbody>
                      </table>
                      </div>
                 </div>
              </div>
            </div>
            <!--end table -->
      </main>
</div>
  <script>
 $(document).ready(function() {
    $('#zero_config').DataTable( {
        responsive: {
            details: {
                display: $.fn.dataTable.Responsive.display.modal( {
                    header: function ( row ) {
                        var data = row.data();
                        return 'Details for '+data[0]+' '+data[1];
                    }
                } ),
                renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                    tableClass: 'table'
                } )
            }
        }
    } );
} );



 </script>

{% endif %}

{% endblock %}