{% extends "userbase.html.twig" %}

{% block title %}Commits{% endblock %}

{% block content %}
{% if app.user == null %}
    {{ include("includes/unavbar.html.twig") }}
    {{ include("includes/profile.html.twig") }}
{% endif %}
 {% if app.user != null %}
   {% if app.user.title == 'administrator' or app.user.title == 'superadmin' %}
      {{ include("profile/usermenu.html.twig") }}
   {% else %}
    {{ include("includes/usermenu.html.twig") }}
   {% endif%}
{% endif %}
    {% include "repo/fragments/header.html.twig" %}

    {{ include("repo/commits_list.html.twig") }}
    </div>
    <hr />
{% endblock %}