{% extends 'userbase.html.twig' %}
{% block body %}
{{ include('includes/navbar.html.twig') }}
<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper" >
    <div class="mdc-layout-grid">
       <div class="mdc-layout-grid__inner">
         <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
               <div class="mdc-card">
                 <div class="mdc-layout-grid__inner" >
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                        <section class="purchase__card_section">
                          <div class="card card-signin my-5 "  style="background:darkblue;color:lightgrey;">
                              <div class="card-body">
                                 <h1 class="card-title text-center font-weight-bold">
                                   Welcome To Unknown Bucket (UBUCKET)!
                                  </h1>
                                   <div class="mt-4 font-weight-bold">
                                      <p> This is an open source project, the main target is to facilitate project development for coders. </p>
                                       <p>
                                       <b style="display:block;"> It use </b>
                                       <span style="display:block;text-indent:17px;" >* Git version control</span>
                                       <span style="display:block;text-indent:17px;" >* Symfony framework</span>
                                       <span class="mt-3" style="display:block;text-indent:17px;" >* Redis server</span>
                                          </p>
                                    </div>
                               </div>
                          </div>
                        </section>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                                <section class="purchase__card_section">
                                     <div class="card card-signin my-5">
                                          <div class="card-body">
                                            <h5 class="card-title text-center" style="font-weight:bold;">Login</h5>
                                            <form action="" class="form-signin" method="post">
                                                {% if error %}
                                                    <div class="alert" style="color:red;font-weight:bold;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                {% endif %}

                                              <div class="form-label-group">
                                                <input type="text" value="{{ last_username }}"  name="_username" id="inputEmail" placeholder="Enter Username" class="form-control"  autocomplete="email" required autofocus>
                                                <label for="inputEmail">Username</label>
                                              </div>

                                              <div class="form-label-group">
                                               <input type="password" name="_password" id="inputPassword" placeholder="Enter password" class="form-control"  autocomplete="current-password" required>
                                                <label for="inputPassword">Password</label>
                                              </div>
                                              <div class="mt-2">
                                                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                                              </div>
                                              <button class="form-control btn btn-primary btn-lg  btn-block text-uppercase"  type="submit">Login</button>
                                              <hr class="my-4" >
                                                <a href="{{ path('forgotpass') }}" class="form-control btn btn-lg btn-forgot btn-block text-lowercase"  style="color:blue;">forgot password?</a>
                                               </form>
                                          </div>
                                      </div>
                                </section>
                    </div>
                 </div>
               </div>
         </div>
       </div>
    </div>
   </main>
</div>
  <!--end login builder -->
{% endblock %}
